body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sw_body{
    background-image: url('StarWars/Resources/red.jpg');
}

.got_body{
    background-image: url('GOT/Resources/background.jpg');
}

.atla_body{
    background-image: url('ATLA/Resources/map.jpg');
}

.card .title {
    font-family: "Montserrat", sans-serif;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    margin: auto;
    width: 75%;
    padding: 10px;
}

.card .sw_title{
    color: rgb(209, 178, 1);
}

.card .got_title{
    color: #F0F8FF;
}

.card .release {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    margin: auto;
    width: 10%;
    padding: 10px;
}

.card .sw_release{
    color: rgb(209, 178, 1);
}

.card .got_release{
    color: #E6EEF5;
}

.card .description {
    font-family: "Montserrat", sans-serif;
    font-size: 1.05rem;
    text-align: justify;
    line-height: 1.5rem;
    margin: auto;
    width: 80%;
    padding: 10px;
}

.card .sw_description{
    color: rgba(209, 178, 1, 0.842);
}

.card .got_description{
    color: #DCE4EB;
}

.card .note {
    font-family: "Montserrat", sans-serif;
    font-size: 1.05rem;
    line-height: 1.5rem;
    margin: auto;
    width: 80%;
    text-align: justify;
}

.card .sw_note{
    color: rgba(209, 178, 1, 0.747);
}

.atla_body .container .card div[class='back card_sides'] {
    background-color: bisque;
}

.container {
    width: 70%;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}

.card {
    width: 520px;
    height: 800px;
    margin: 0 10px;
    perspective: 1000px;
}

.card_sides {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front, .back {
    margin: 0 10px; 
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: transform 1500ms;   
    transform-style: preserve-3d;
    background-color: black;
    border-radius: 20px;
}

.front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.back {
    transform: rotateY(180deg);
    cursor: pointer;
}

.card:hover .front {
    transform: rotateY(180deg);
    cursor: pointer;
}

.card:hover .back {
    transform: rotateY(360deg);
    cursor: pointer;
}

.button {
    transform: translate(10px, 60px);
    font-family: "Montserrat", sans-serif;
    margin: 5px;
    letter-spacing: 1px;
    padding: 14px 28px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

.select {
    transform: translate(10px, 60px);
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
    text-align: center;
}

.sw_button,.sw_select{
    background-color: #5e0000;
    color: white;
}

.sw_button:hover,.sw_select:hover {
    background-color: #ff3333;
    color: white;
}

.got_button, .got_select{
    background-color: rgb(128,128,128);
    color: rgb(0, 44, 58);
}

.got_button:hover,.got_select:hover{
    background-color: rgb(169,169,169);
    color: rgb(42, 78, 108);
}

.star_rating{
    user-select: none;
    text-align: center;
}

.star_rating p{
    font-family: "Montserrat", sans-serif;
    font-size: 1.05rem;
    text-align: justify;
    line-height: 1.5rem;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.swstar{
    color: rgba(209, 178, 1, 0.842);
}

.gotstar{
    color: #D2DAE1;
}

.star{
    font-size: 2rem;
    color: yellow;
    background-color: unset;
    border: none;
}

.star:hover{
    cursor: pointer;
}

:root {
    --primary-color: rgb(0, 0, 0);
    --overlay-color: rgba(0, 0, 0, 0.541);
    --menu-speed: 0.75s;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
  
.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}
  
.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

.menu-wrap .hamburger > div::after {
    top: 10px;
}

.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}
  
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}
  
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}
  
.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}
  
.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
}
  
.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}
  
.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}
  
.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}
  
.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}