body {
    background-color: aquamarine;
    font-family: "Roboto", sans-serif;
}

.title {
    background-color: #333;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
}


.container {
    width: 90%;
    padding: 20px;
    margin: 100px auto;	 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.card {
    width: 520px;
    height: 800px;
    margin: 0 80px;
    perspective: 1000px;
}



.card_sides {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
}


.front, .back {
    margin: 0 80px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: transform 1500ms;   
    transform-style: preserve-3d;
}


.front img {
    width: 520px;
    height: 800px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}



.back {
    transform: rotateY(180deg);
}


.card:hover .front {
    transform: rotateY(180deg);
}

.card:hover .back {
    transform: rotateY(360deg);
}



