body {
    background-color: aquamarine;
    font-family: "Roboto", sans-serif;
}

.title {
    background-color: #333;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.release {

}

.description {

}




/* EREDETI */
#original {
    width: 90%;
    padding: 20px;
    margin: 100px auto;	 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#sw4, #sw5, #sw6 {
    margin-right: 30px;
    position: relative;
}

#sw4 img, #sw5 img, #sw6 img {
    transition: all 1s ease-in-out;
    width: 270px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    }




/* ELŐZMÉNY */
#prequel {
    width: 90%;
    padding: 20px;
    margin: 100px auto;	 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#sw1, #sw2, #sw3 {
    margin-right: 30px;
    position: relative;
}

#sw1 img, #sw2 img, #sw3 img {
    transition: all 1s ease-in-out;
    width: 270px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    }


/* FOLYTATÁS */
#sequel {
    width: 90%;
    padding: 20px;
    margin: 100px auto;	 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#sw7, #sw8, #sw9 {
    margin-right: 30px;
    position: relative;
}

#sw7 img, #sw8 img, #sw9 img {
    transition: all 1s ease-in-out;
    width: 270px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    }


/* SPINOFF */
#spinoff {
    width: 90%;
    padding: 20px;
    margin: 100px auto;	 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#zsivany, #solo {
    margin-right: 30px;
    position: relative;
}

#zsivany img, #solo img {
    transition: all 1s ease-in-out;
    width: 270px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    }


/* MANDALORI */
#mandalorian {
    width: 90%;
    padding: 20px;
    margin: 100px auto;	 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#mandalorian img {
    transition: all 1s ease-in-out;
    width: 270px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    }
